html {
    font-size: 12px;
	display: block;
}
body{
	margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    background-color: #fff;
	overflow:hidden;
	min-height:100vh;
	height:100vh;
	background-image:url(https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg);
	background-size:100%;

}
.main-container{

    width: 900px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.textarea{
	height: 3rem;
    padding: 2rem;
    width: 80%;
    border-radius: 2rem;
    /* border-color: #cccccc; */
    border: 1px solid #80808059;
    background-color: #ffffff9c;
    box-shadow: 1px 5px 13px 0px #0000004f;
    font-size: 1.5rem;
}

.consola-test {
    width: 900px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #ffffffa8;
    padding: 2rem;
}